.container {
  background-color: gray;
  height: 1000px;
  width: 1000px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}

.etch-div {
  height: 100px;
  width: 100px;
  border-width: 5px;
}

.color-new {
  background-color: white;
}

.color-drawn {
  background-color: black;
}
