:root {
  --dimension: 16;
}
.container {
  background-color: white;
  height: 1000px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(var(--dimension), 0fr);
  grid-template-rows: repeat(var(--dimension), 0fr);
}

.etch-div {
  height: 100px;
  width: 100px;
  border-width: 5px;
}

.color-new {
  background-color: white;
}

.color-drawn {
  background-color: black;
}
